#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#detailPageLink {
    margin-left: 80px;
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webPreference {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 95px;
}

.webPreference img{
    height: 24px;
    width: 24px;
}

.webPreferenceButtonToggle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: none;
}

.webPreferenceButtonToggle:hover {
    cursor: pointer;
}

.webTitle {
    margin-left: 80px;
}

#countrySearchContainer {
    display: flex;
    justify-content: space-between;
    margin: 80px
}

#searchContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    border: solid black 1px;
}

#searchIcon {
    height:24px;
    width: 24px;
    margin-left: 30px;
}

#countryInput {
    font-size: 20px;
    height: 32.86px;
    width: 360px;
    border: none;
}

/*styles filter by region select*/
#filterByRegionSelect {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    width: 12vw;
    margin-right: 15px;
} 

hr {
    margin-bottom: 60px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 40px;
    margin-left: 40px;
    list-style: none;
}

.countryCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 6px;
    box-shadow: 2px 5px 12px 5px whitesmoke;
}

.countryCard:hover {
    cursor: pointer;
}

.countryCard:active {
border: solid black 3px;
}

.countryCard img{
    height: 250px;
    width: 435px;  
}

.countryDetails {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 10px;
    height: 190px;
}


/*styles the countryName label */
.countryName {
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.countryInfo {
    margin-left: 20px;
    line-height: 1.6;
}

/*styles the countryInfo label; (e.g) region label*/
.countryInfo span {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/*styles the countryInfo value; (e.g) region value*/
.countryVal {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 376px){
    body {
        margin: 0px;
    }
    
    .titleBar {
        padding: 10px;
    }

    .webTitle {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 800;
        margin-left: 20px;
    }

    .webPreference {
        margin-right: 20px;
    }

    .webPreferenceButtonToggle {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
    }
    
    hr {
        margin-bottom: 25px;
    }
    
    #countrySearchContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 335px;
        margin: 10px
    }
    
    #searchContainer {
        height: 50px;
        width: 335px;
    }

    #filterByRegionSelect {
        margin-right: 0px;
        width: 250px;
        padding: 10px;
    }
    #countryListContainer {
        margin-left: 5px;
    }


.countryCard img{
    height: 150px;
    width: 275px;  
}

.countryDetails {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 10px;
    height: 150px;
}
}

/* styling for details page */
#backButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    margin-left: 80px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 3px 3px 2px whitesmoke;
    margin-bottom: 60px;
}

#backButton {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    padding: 8px;
    border: none;
    background-color: white;
}

#backButton:hover{
    cursor: pointer;
}

#detailsExtraInfoContainer {
    display: flex;
}

#countryFlag {
   height: 500px;
   width: 650px;
   box-shadow: 2px 6px 20px 23px whitesmoke;
   margin-left: 80px;
}


.tgtCountryCardContainer {
    line-height: 1.6;
    margin-left: 120px;
}

.tgtCountryCardContainer .countryTitle{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.extraInfo {
    display: flex;
    gap: 160px;
}

.extraInfo  {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.extraInfo span {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
}